.no-scroll {
  overflow: hidden;
}

.hidden {
  opacity: 0.2;
  transition: opacity 0.2s ease;
}

.drop-zone-active {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.no-tasks-dragging {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px dashed transparent;
  color: transparent;
}

.mainSection {
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
}

.titleAndInputWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.boardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.boardTitleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  color: black;
  font-size: 47px;
  font-weight: 700;
}

.boardTitleContainer img {
  width: 40px;
}

.boardTitle {
  cursor: default;
}

.inputAndButtonWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 18px;
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;

  border-radius: 10px;
  margin-top: 32px;
}

.inputContainer img {
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 0 16px;
  border-left: 1px solid rgba(209, 209, 209, 1);
  right: 0;
}

.inputContainer img:hover {
  cursor: pointer;
}

.findTaskInput {
  border-width: 0;
  padding: 0;
  padding-left: 16px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.findTaskInput::placeholder {
  color: rgba(209, 209, 209, 1);
}

.addTaskInputButton {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 0 8px;
  height: 48px;
  width: 160px;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  font-size: 21px;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 10px;
}

.addTaskInputButton img {
  width: 32px;
  height: 32px;
}

.addTaskInputButton:hover {
  background-color: rgba(41, 171, 226, 1);
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toDoSection,
.inProgressSection,
.awaitFeedbackSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

.doneSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 80px;
}

.toDoSectionTitleContainer,
.inProgressTitleContainer,
.awaitFeedbackTitleContainer,
.doneTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 27px;
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
}

.noTasksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 95%;
  height: 48px;
  background-color: rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
  border-radius: 10px;
  border: 1px dashed rgba(168, 168, 168, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.toDoSectionContentWrapper,
.inProgressContentWrapper,
.awaitFeedbackContentWrapper,
.doneContentWrapper {
  display: flex;
  margin-top: 12px;
  margin-bottom: 14px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 16px;
  padding: 8px 4px;
}

.toDoSectionContentWrapper::-webkit-scrollbar,
.inProgressContentWrapper::-webkit-scrollbar,
.awaitFeedbackContentWrapper::-webkit-scrollbar,
.doneContentWrapper::-webkit-scrollbar {
  display: none;
}

.taskCard {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 240px;
  /* height: fit-content; */
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  flex-shrink: 0;
  margin: 8px;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  cursor: pointer;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.taskCartdCategoryWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.taskCardHold {
  display: flex;
  border-radius: 6px;
  min-width: 80px;
  padding: 4px;
  background: rgba(255, 255, 255, 0);
  font-size: 12px;
  gap: 8px;
}

.taskCardHold img {
  height: 20px;
  width: 20px;
}

.taskCardCategory {
  display: flex;

  width: fit-content;
  background-color: rgba(0, 56, 255, 1);
  color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px 16px;
  margin-bottom: 20px;
}

.taskCardTitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
}

.taskCardDescription {
  font-size: 16px;
  color: rgba(168, 168, 168, 1);
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
}

.taskCardSubtasksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 16px;
  font-size: 12px;
  margin-bottom: 20px;
  gap: 8px;
}

.taskCardSubtaskBarWrapper {
  width: 60%;
  height: 8px;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 8px;
}

.taskCardSubtaskBar {
  width: 50%;
  height: 100%;
  background-color: rgba(69, 137, 255, 1);
  border-radius: 8px;
}

.taskCardBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.taskCardBottomContainer img {
  width: 32px;
  height: 32px;
}

.taskCardUserContainer {
  display: flex;
  position: relative;
  /* left: 20px; */
}

.taskCardUser {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-color: rgba(255, 122, 0, 1);
  border: solid 1px #ffffff;
  color: white;
  box-sizing: border-box;
  margin-left: -10px;
  font-size: 12px;
}

.taskCardUser:first-child {
  margin-left: 0px;
}

.moveToTopSection {
  display: flex;
  justify-content: space-between;
}

.taskCardMovetoLabel {
  display: inline-flex;
  align-items: center;
  height: 27px;
  width: fit-content;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 16px;
  padding: 2px 16px;
  margin-bottom: 20px;
  border: 1px solid;
}

.moveToBackImage {
  height: 32px;
  width: 32px;
}

.taskCard:hover {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.moveToWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskCardMoveToLinkContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #2a3647;
  font-size: 16px;
  padding: 4px 16px;
  background-color: #f3f3f3;
  border-radius: 8px;
}

.taskCardMoveToLinkContainer p {
  color: #2a3647;
  font-size: 16px;
}

.taskCardMoveToLinkContainer img {
  height: 24px;
  width: 24px;
}

/* Muss für mobile auf   background-image: url("../images/icons/plus_add_task_small.png"); geändert werden */
.boardPlusIconSmall {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("../images/icons/plus_add_task_dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.boardPlusIconSmall:hover {
  background-image: url("../images/icons/plus_add_task_blue.svg");
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-0.1deg);
  }
  20% {
    transform: rotate(0.2deg);
  }
  30% {
    transform: rotate(-0.3deg);
  }
  40% {
    transform: rotate(0.4deg);
  }
  50% {
    transform: rotate(-0.8deg);
  }
  60% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-1.5deg);
  }
  80% {
    transform: rotate(2deg);
  }

  90% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.taskCard.growing {
  transform: scale(50);
  transition: transform 0.1s ease;
  animation: vibrate 0.5s alternate ease-in-out forwards;
}

@media (hover: hover) {
  .taskCard:hover:not(.growing) {
    transform: scale(1.02);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .taskCardHold {
    display: none;
  }

  .boardPlusIconSmall {
    margin-right: 0px;
  }
  .mainSection {
    margin-left: 220px;
    width: calc(100% - 220px);
  }
  .boardWrapper {
    padding: 0 48px;
    height: 100vh;
  }

  .titleAndInputWrapper {
    flex-direction: row;
    align-items: center;
  }

  .sectionWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0px;
    height: 100%;
  }

  .toDoSection,
  .inProgressSection,
  .awaitFeedbackSection,
  .doneSection {
    min-width: 170px;
  }

  .toDoSectionContentWrapper,
  .inProgressContentWrapper,
  .awaitFeedbackContentWrapper,
  .doneContentWrapper {
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 4px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 16px;
    height: 100%;
  }

  .toDoSectionTitleContainer,
  .inProgressTitleContainer,
  .awaitFeedbackTitleContainer,
  .doneTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    color: rgba(42, 54, 71, 1);
    margin: 0 10px;
  }

  .boardTitleContainer img {
    display: none;
    width: 40px;
  }

  .addTaskInputButton {
    display: flex;
  }

  .taskCard {
    max-width: none;
  }
}

@media (min-width: 1150px) {
  .toDoSectionTitleContainer,
  .inProgressTitleContainer,
  .awaitFeedbackTitleContainer,
  .doneTitleContainer {
    font-size: 19px;
  }
}
@media (min-width: 1350px) {
  .boardPlusIconSmall {
    margin-right: 10px;
  }
}

@media (min-width: 1390px) {
  .toDoSectionTitleContainer,
  .inProgressTitleContainer,
  .awaitFeedbackTitleContainer,
  .doneTitleContainer {
    font-size: 26px;
  }

  .boardPlusIconSmall {
    margin-right: 14px;
  }
}
