/* board popup --------------- */
.boardPopupBackground {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: #79e22928; */
  z-index: 600;
}
.boardTaskPopup {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: calc(100% - 24px - 88px - 88px);
  width: calc(100% - 24px);
  background-color: #ffffff;
  z-index: 500;
  border-radius: 30px;
  overflow: auto;
}

.boardTaskPopupContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff6a;
  width: calc(100% - 40px);
  height: calc(100% - 64px);
  box-sizing: border-box;
  border-radius: 30px;
  gap: 16px;
}

.boardTaskPopupContentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: white;
}

.boardTaskPopupCategoryCard {
  background-color: #0038ff;
  padding: 4px 16px;
  border-radius: 8px;
}

.boardTaskPopupCategoryLabel {
  font-size: 16px;
  color: white;
}

.boardTaskPopupContentCenter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.boardTaskPopupContentClose {
  width: 32px;
}

.boardTaskPopupContentTitle {
  font-size: 36px;
  font-weight: bold;
}

.boardTaskPopupContentDescription {
  font-size: 16px;
}

.boardTaskPopupContentDateWrapper {
  display: flex;
  gap: 25px;
}

.boardTaskPopupContentDateLabel,
.boardTaskPopupContentPrioLabel,
.boardTaskPopupContentAssignedToLabel,
.boardTaskPopupContentSubtasksLabel {
  font-size: 16px;
  color: #42526e;
}

.boardTaskPopupContentDate {
  font-size: 16px;
}

.boardTaskPopupContentPrioWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.boardTaskPopupContentPrioOutputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boardTaskPopupContentPrioValue {
  font-size: 16px;
}

.boardTaskPopupContentPrioIcon {
  height: 32px;
}

.boardTaskPopupContentAssignedToWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boardTaskPopupContentAssignedToUserWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.boardTaskPopupContentAssignedToUserContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 8px 16px;
  /* background-color: #091931; */
}

.boardTaskPopupContentAssignedToUserCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.boardTaskPopupContentAssignedToUserInitials {
  color: white;
}

.boardTaskPopupContentSubtasksList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 16px;
  gap: 8px;
}

.boardTaskPopupContentSubtask {
  display: flex;
  align-items: center;
  gap: 16px;
}

.boardTaskPopupContentSubtaskIcon,
.boardTaskPopupDeleteIcon,
.boardTaskPopupEditIcon {
  width: 24px;
}

.boardTaskPopupContentBottom {
  justify-content: flex-end;
  display: flex;
  gap: 8px;
}

.boardTaskPopupContentDeleteContainer,
.boardTaskPopupContentEditContainer {
  display: flex;
  align-items: center;
}

.boardTaskPopupContentDeleteContainer,
.boardTaskPopupContentEditContainer:hover {
  cursor: pointer;
}

.boardTaskPopupContentBottomLine {
  height: 100%;
  width: 1px;
  background-color: #d1d1d1;
}

/* board popup edit */

.boardTaskEditPopup {
  /* position: absolute;
    top: 0;
    left: 0; */
  width: 100%;
  /* height: 1000px; */
  /* z-index: 10000; */
  /* overflow: hidden; */
}

/* board main ------------------- */

.boardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  height: 100%;
  width: 100%;
  /* background-color: rgba(246, 247, 248, 1); */
  box-sizing: border-box;
}

.boardTitleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  color: black;
  font-size: 47px;
  font-weight: 700;
}

.boardTitleContainer img {
  width: 40px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 32px;
  border: 1px solid rgba(168, 168, 168, 1);
}

.inputContainer img {
  width: 32px;
  height: 32px;
  padding: 0 16px;
  border-left: 1px solid rgba(209, 209, 209, 1);
}

.findTaskInput {
  border-width: 0;
  padding: 0;
  padding-left: 16px;
  font-size: 20px;
}

.findTaskInput::placeholder {
  color: rgba(209, 209, 209, 1);
}

.toDoSection,
.inProgressSection,
.awaitFeedbackSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

.doneSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 80px;
}

.toDoSectionTitleContainer,
.inProgressTitleContainer,
.awaitFeedbackTitleContainer,
.doneTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 27px;
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
}

.noTasksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
  border-radius: 10px;
  border: 1px dashed rgba(168, 168, 168, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.toDoSectionContentWrapper,
.inProgressContentWrapper,
.awaitFeedbackContentWrapper,
.doneContentWrapper {
  display: flex;
  margin-top: 12px;
  margin-bottom: 4px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 16px;
}

.toDoSectionContentWrapper::-webkit-scrollbar,
.inProgressContentWrapper::-webkit-scrollbar,
.awaitFeedbackContentWrapper::-webkit-scrollbar,
.doneContentWrapper::-webkit-scrollbar {
  display: none;
}

.taskCard {
  display: flex;
  flex-direction: column;
  width: 252px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  flex-shrink: 0;
  margin: 8px 0;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.taskCardCategory {
  display: inline-flex;
  align-items: center;
  height: 27px;
  width: fit-content;
  background-color: rgba(0, 56, 255, 1);
  color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 2px 16px;
  margin-bottom: 20px;
}

.taskCardTitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
}

.taskCardDescription {
  font-size: 16px;
  color: rgba(168, 168, 168, 1);
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
}

.taskCardSubtasksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 16px;
  font-size: 12px;
  margin-bottom: 20px;
}

.taskCardSubtaskBarWrapper {
  width: 60%;
  height: 8px;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 8px;
}

.taskCardSubtaskBar {
  width: 50%;
  height: 100%;
  background-color: rgba(69, 137, 255, 1);
  border-radius: 8px;
}

.taskCardBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.taskCardBottomContainer img {
  width: 32px;
  height: 32px;
}

.taskCardUserContainer {
  display: flex;
  position: relative;
  /* left: 20px; */
}

.taskCardUser {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-color: rgba(255, 122, 0, 1);
  border: solid 1px #ffffff;
  color: white;
  box-sizing: border-box;
  margin-left: -10px;
  font-size: 12px;
}

.taskCardUser:first-child {
  margin-left: 0px;
}
