/* board popup --------------- */
.boardPopupBackground {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.boardTaskPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px; /* nav height */
  right: -100%;
  height: calc(100vh - 230px); /* viewport height minus nav + footer */
  width: min(80vw, 600px); /* responsive width with max size */
  padding: 18px;
  background: white;
  border-radius: 30px;
  transition: right 0.3s ease;
 }

.boardTaskPopup.active {
  right: 50%;
  transform: translateX(50%);
}

.boardTaskPopupContentWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: space-between; */
  background-color: #ffffff6a;
  width: calc(100% - 40px);
  height: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  gap: 16px;
}

.boardTaskPopupContentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: white;
}

.boardTaskPopupCategoryCard {
  background-color: #0038ff;
  padding: 4px 16px;
  border-radius: 8px;
}

.boardTaskPopupCategoryLabel {
  font-size: 16px;
  color: white;
}

.boardTaskPopupContentCenter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.boardTaskPopupContentClose {
  width: 32px;
}

.boardTaskPopupContentTitle {
  font-size: 36px;
  font-weight: bold;
}

.boardTaskPopupContentDescription {
  font-size: 16px;
}

.boardTaskPopupContentDateWrapper {
  display: flex;
  gap: 25px;
}

.boardTaskPopupContentDateLabel,
.boardTaskPopupContentPrioLabel,
.boardTaskPopupContentAssignedToLabel,
.boardTaskPopupContentSubtasksLabel {
  font-size: 16px;
  color: #42526e;
}

.boardTaskPopupContentDate {
  font-size: 16px;
}

.boardTaskPopupContentPrioWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.boardTaskPopupContentPrioOutputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boardTaskPopupContentPrioValue {
  font-size: 16px;
}

.boardTaskPopupContentPrioIcon {
  height: 32px;
}

.boardTaskPopupContentAssignedToWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boardTaskPopupContentAssignedToUserWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.boardTaskPopupContentAssignedToUserContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 8px 16px;
  /* background-color: #091931; */
}

.boardTaskPopupContentAssignedToUserCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.boardTaskPopupContentAssignedToUserInitials {
  color: white;
}

.boardTaskPopupContentSubtasksList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 16px;
  gap: 8px;
}

.boardTaskPopupContentSubtask {
  display: flex;
  align-items: center;
  gap: 16px;
}

.boardTaskPopupContentSubtaskIcon,
.boardTaskPopupDeleteIcon,
.boardTaskPopupEditIcon {
  width: 24px;
}

.boardTaskPopupContentBottom {
  display: flex;
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 40px;
  justify-content: flex-end;
  display: flex;
  right: 0;
  gap: 8px;
}

.boardTaskPopupContentDeleteContainer,
.boardTaskPopupContentEditContainer {
  display: flex;
  align-items: center;
}

.boardTaskPopupContentDeleteContainer,
.boardTaskPopupContentEditContainer:hover {
  cursor: pointer;
}

.boardTaskPopupContentBottomLine {
  height: 100%;
  width: 1px;
  background-color: #d1d1d1;
}

/* board popup edit */

.boardTaskEditPopup {
  width: 100%;
}

@media (min-width: 1024px) {
  .boardTaskPopup.active {
    right: calc(50% - 118px);
    transform: translateX(50%);
  }

  .boardTaskPopupContentWrapper {
    padding: 24px 8px;
  }

  .boardTaskPopup {
    min-width: 420px;
    width: auto;

    top: 160px;
 
  }

  .boardPopupBackground {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: #0000002c;
  }
}

/* .boardTaskPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px; 
  right: -100%;
  height: calc(100vh - 230px);
  width: min(80vw, 600px);
  padding: 18px;
  background: white;
  border-radius: 8px;
  transition: right 0.3s ease;
} */
