@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

body {
  margin: 0;
  font-family: "Inter";
}

.joinWrapper {
  /* display: flex; */
  width: 100%;
  align-items: center;
  background-color: rgba(246, 247, 248, 1);
}

.contactsMainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 24px;
  width: 100%;
  background-color: white;
  overflow-y: auto;
}

.contactLetterWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  max-width: 352px;
  gap: 20px;
  margin-bottom: 28px;
}

.contactLetter {
  font-size: 20px;
  margin-left: 36px;
}

.contactCard {
  display: flex;
  gap: 42px;
  padding: 16px 24px;
  border-radius: 16px;
}

.contactCard:active {
  background-color: rgba(246, 247, 248, 1);
}
.contactCard:hover {
  background-color: rgba(246, 247, 248, 1);
}

.contactCardInitialsCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  background-color: aqua;
  border-radius: 50%;
}

.contactInfos {
  display: flex;
  flex-direction: column;
}

.contactName {
  font-size: 20px;
}

.initials {
  font-size: 12px;
  text-align: center;
  color: white;
}

.contactMail {
  color: rgba(0, 124, 238, 1);
  font-size: 16px;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(209, 209, 209, 1);
}

.addContactCircleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 56px;
  height: 56px;
  right: 10%;
  bottom: 14%;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.addContactCircleButton img {
  width: 32px;
}

.editContactCircleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 56px;
  height: 56px;
  right: 10%;
  bottom: 14%;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.editContactCircleButton img {
  width: 32px;
}

.addContactPopupBackground {
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.contactPopup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 170px);
  max-width: 400px;
  margin: 0 16px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(120%);
  transition: transform 0.3s ease-out;
}

.contactPopup.show {
  transform: translateY(0);
}

.contactCreatedSuccessfullyPopup {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  max-width: 320px;
  height: 74px;
  text-align: center;
  padding: 8px 16px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  font-size: 20px;
  font-weight: 400;
  z-index: 9999999;
  left: 50%;
  bottom: -150px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  transition: bottom 0.3s ease-in-out;
  z-index: 9999999;
}

.contactPopupTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  position: relative;
  width: 100%;
  height: 45%;
  background-color: rgba(42, 54, 71, 1);
  box-sizing: border-box;
}

.contactPopupTop img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  margin: 16px 16px;
}

.contactPopupBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
  background-color: rgb(255, 255, 255);
}

.contactPopupTopTitleWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.contactPopupTitle {
  color: white;
  font-size: 47px;
  font-weight: 700;
}

.contactPopupTitlePhrase {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.contactPopupTitleLine {
  height: 3px;
  width: 80px;
  background-color: rgba(41, 171, 226, 1);
  border-radius: 2px;
  margin-top: 12px;
}

.userCircleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%) scale(1);
  width: 126px;
  height: 126px;
  background-color: rgb(255, 255, 255);
  z-index: 500;
}

.userCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(209, 209, 209, 1);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  z-index: 502;
}

.userCircle img {
  width: 64px;
}

.contactPopupBottom form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* height: 50%; */
  gap: 10px;
  margin-top: 36px;
  margin-bottom: 12px;
  /* background-color: aqua; */
}

.nameInputWrapper,
.mailInputWrapper,
.phoneInputWrapper {
  display: flex;
  border: solid rgba(209, 209, 209, 1) 1px;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
  height: 41px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
}

.nameInputWrapper input,
.mailInputWrapper input,
.phoneInputWrapper input {
  width: 100%;
  font-size: 20px;
  border: none;
}

.nameInputWrapper img,
.mailInputWrapper img,
.phoneInputWrapper img {
  width: 24px;
  height: 24px;
}

.createContactButton,
.saveContactButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  font-size: 21px;
  font-weight: 700;
  border-radius: 10px;
  height: 51px;
  margin-top: 18px;
  padding: 0 12px;
  box-sizing: border-box;
}

.deleteContactButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgba(42, 54, 71, 1);
  font-size: 21px;
  font-weight: 700;
  border-radius: 10px;
  height: 51px;
  margin-top: 18px;
  padding: 0 12px;
  border: solid rgba(42, 54, 71, 1) 1px;
  box-sizing: border-box;
}

.createContactButton img,
.saveContactButton img {
  height: 24px;
  width: 24px;
  margin-left: 8px;
}

.editContactButtonWrapper {
  display: flex;
  gap: 24px;
}

.contactDetailsSection {
  display: none;
  width: 100%;
  height: 100dvh;
  position: fixed;
  background-color: rgba(246, 247, 248, 1);
  box-sizing: border-box;
  padding: 80px 0;
}

.contactDetailsContentWrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  padding: 32px 24px;
  gap: 32px;
}

.contactDetailsContentTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contactDetailsContentTopLabelWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactDetailsContentTopLabelWrapper span {
  font-size: 47px;
  font-weight: 700;
}

.contactDetailsContentTopLabelWrapper p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(42, 54, 71, 1);
}

.contactDetailsContentTopLabelLine {
  height: 3px;
  width: 30%;
  background-color: rgba(41, 171, 226, 1);
  border-radius: 4px;
}

.contactDetailsContentTopArrowWrapper img {
  height: 32px;
  width: 32px;
}

.contactDetailsContentMainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
}

.contactDetailsMainNameWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contactDetailsMainInitialsOuterCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 80px;
  width: 80px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 50%;
}

.contactDetailsMainInitialsInnerCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: aqua; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  font-size: 27px;
  font-weight: 400;
}

.contactDetailsMainContactName {
  font-size: 36px;
  font-weight: 700;
}

.contactDetailsMainContactInformationLabel {
  font-size: 20px;
  font-weight: 400;
}

.contactDetailsMainEmailLabel,
.contactDetailsMainPhoneLabel {
  font-size: 16px;
  font-weight: 700;
  margin-top: 4px;
}

.contactDetailsMainEmail {
  color: rgba(0, 124, 238, 1);
  text-decoration: none;
}
@media (max-width: 380px) {
  .contactCard {
    gap: 18px;
  }
}

@media (max-width: 360px) {
  .contactCard {
    padding: 0 6px;
  }

  .contactLetter {
    margin-left: 22px;
  }
}

@media (max-height: 780px) {
  .userCircleWrapper {
    transform: translate(-50%, -45%) scale(0.75);
  }
}

@media (max-height: 700px) {
  .userCircleWrapper {
    transform: translate(-50%, -45%) scale(0.55);
  }
}
