body {
  background-color: #F6F7F8;
}

input:focus {
  outline: none;
  /* border-color: transparent; */
}

.signUpSuccessfulPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 320px;
  height: 80px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 100;
  transition: transform 0.5s ease-out;
  opacity: 0;
  pointer-events: none;
}

.signUpSuccessfulPopup.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}

.signUpSection {
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0px 16px;
}

.arrowLeftBlue {
  width: 32px;
  position: absolute;
  left: 32px;
  top: 32px;
  cursor: pointer;
}

.signUpLogo {
  width: 64px;
  padding: 38px;
}

.signUpBoard {
  background-color: #ffffff;
  box-shadow: 0.7764155368876742px 4.902094772041789px 6.94848px -3px rgba(0,0,0,0.08960000000000001), 1.5122832604369205px 9.548180726201316px 13.534080000000001px -2px rgba(0,0,0,0.06720000000000001), 2.479924287389773px 15.6576257257866px 22.19392px -1.1296px rgba(0,0,0,0.04894848000000001), 3.7198864310846593px 23.4864385886799px 33.290879999999994px 1.4816px rgba(0,0,0,0.03629696), 5.539281833288561px 34.973649065137586px 49.57343999999999px 6.4448px rgba(0,0,0,0.025096960000000005), 7.439772862169319px 46.9728771773598px 66.58175999999999px 15.8528px rgba(0,0,0,0.013896960000000002), -0.38820776844383736px -2.451047386020894px 10.42272px -3px #ffffff04, -0.7561416302184608px -4.774090363100658px 20.30112px -2px #ffffff03, -1.2399621436948873px -7.828812862893299px 33.29088px -1.1296px #ffffff02, -1.8599432155423308px -11.743219294339948px 49.936319999999995px 1.4816px #ffffff02, -2.769640916644282px -17.486824532568793px 74.36015999999998px 6.4448px #ffffff01, -3.7198864310846615px -23.486438588679896px 99.87263999999999px 15.8528px #ffffff01;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.signUpBoardContentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.signUpTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signUpTitle {
  font-weight: 700;
  font-size: 47px;
  margin-top: 28px;
  cursor: default;
}

.signUpBlueLine {
  height: 3px;
  width: 88px;
  background-color: #29abe2;
  border-radius: 3px;
  margin: 14px 0 24px 0;
}

.signUpInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.signUpForm {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpInputName {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/person_grey.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.signUpInputEmail {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/mail_grey.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.signUpInputPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.passwordConfirmContainer {
  width: 100%;
  position: relative;
}

.signUpInputConfirmPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.passwordDontMatchText {
  position: absolute;
  color: #ff8190;
  font-size: 12px;
}

.signUpInputName::placeholder {
  color: #d1d1d1;
}

.signUpInputEmail::placeholder {
  color: #d1d1d1;
}

.signUpInputPassword::placeholder {
  color: #d1d1d1;
}

.signUpInputConfirmPassword::placeholder {
  color: #d1d1d1;
}

.signUpCheckOutBoxWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.acceptPolicyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 48px 0 28px 0;
  box-sizing: border-box;
}

.signUpCheckImg {
  width: 24px;
  cursor: pointer;
}

.blueFont {
  color: #29abe2;
  cursor: pointer;
}

button {
  all: unset;
}

.signUpButton {
  width: 180px;
  height: 51px;
  background-color: #2a3647;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 700;
  margin-bottom: 24px;
  opacity: 0.1;
  cursor: default; /* Default cursor for disabled state */
  pointer-events: none; /* Prevent interaction when disabled */
}

/* Only apply hover effect when the button is enabled */
.signUpButton.enabled:hover {
  background-color: #29abe2;
  transition: 150ms;
  box-shadow: 0px 2px 4px #a8a8a8;
  cursor: pointer;
  pointer-events: auto; /* Allow interaction */
}

.acceptThe {
  cursor: default;
}

.signUpLinksBox {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 8px;
}

.signUpLinks {
  color: #a8a8a8;
  cursor: pointer;
  transition: 150ms;
}

.signUpLinks:hover {
  color: #29abe2;
  transition: 150ms;
  scale: 1.03;
}

@media (min-width: 1024px) {
  .signUpTitle {
    font-size: 61px;
  }

  .signUpButton {
    font-size: 21px;
    width: 126px;
    height: 55px;
  }

  .signUpBoard {
    margin-top: 160px;
    height: 720px;
  }

  .signUpSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signUpLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
  }

  .signUpInputContainer {
    width: 422px;
  }

  .signUpBoardContentWrapper {
    width: 598px;
    height: 630px;
    display: flex;
    margin-top: 40px;
  }

  .signUpCheckOutBoxWrapper {
    margin-top: 40px;
  }

  .signUpInputContainer {
    margin-top: 10px;
  }

  .arrowLeftBlue {
    margin-top: 48px;
    margin-left: 48px;
  }
}
