body {
  background-color: #d5dbe1;
}

input:focus {
  outline: none;
  /* border-color: transparent; */
}

.signUpSuccessfulPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 320px;
  height: 80px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 100;
  transition: transform 0.5s ease-out;
  opacity: 0;
  pointer-events: none;
}

.signUpSuccessfulPopup.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}

.signUpSection {
  height: 100vh;
  background-color: #d6dce2;
  display: flex;
  flex-direction: column;

  padding: 0px 16px;
}

.arrowLeftBlue {
  width: 32px;
  position: absolute;
  left: 32px;
  top: 32px;
  cursor: pointer;
}

.signUpLogo {
  width: 64px;
  padding: 38px;
}

.signUpBoard {
  background-color: #ffffff;

  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.signUpBoardContentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.signUpTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signUpTitle {
  font-weight: 700;
  font-size: 47px;
  margin-top: 28px;
  cursor: default;
}

.signUpBlueLine {
  height: 3px;
  width: 88px;
  background-color: #29abe2;
  border-radius: 3px;
  margin: 14px 0 24px 0;
}

.signUpInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.signUpForm {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpInputName {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/person_grey.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.signUpInputEmail {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/mail_grey.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.signUpInputPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.passwordConfirmContainer {
  width: 100%;
  position: relative;
}

.signUpInputConfirmPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.passwordDontMatchText {
  position: absolute;
  color: #ff8190;
  font-size: 12px;
}

.signUpInputName::placeholder {
  color: #d1d1d1;
}

.signUpInputEmail::placeholder {
  color: #d1d1d1;
}

.signUpInputPassword::placeholder {
  color: #d1d1d1;
}

.signUpInputConfirmPassword::placeholder {
  color: #d1d1d1;
}

.signUpCheckOutBoxWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.acceptPolicyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 48px 0 28px 0;
  box-sizing: border-box;
}

.signUpCheckImg {
  width: 24px;
  cursor: pointer;
}

.blueFont {
  color: #29abe2;
  cursor: pointer;
}

button {
  all: unset;
}

.signUpButton {
  width: 180px;
  height: 51px;
  background-color: #2a3647;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 700;
  margin-bottom: 24px;
  opacity: 0.1;
  cursor: default; /* Default cursor for disabled state */
  pointer-events: none; /* Prevent interaction when disabled */
}

/* Only apply hover effect when the button is enabled */
.signUpButton.enabled:hover {
  background-color: #29abe2;
  transition: 150ms;
  box-shadow: 0px 2px 4px #a8a8a8;
  cursor: pointer;
  pointer-events: auto; /* Allow interaction */
}

.acceptThe {
  cursor: default;
}

.signUpLinksBox {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 8px;
}

.signUpLinks {
  color: #a8a8a8;
  cursor: pointer;
  transition: 150ms;
}

.signUpLinks:hover {
  color: #29abe2;
  transition: 150ms;
  scale: 1.03;
}

@media (min-width: 1024px) {
  .signUpTitle {
    font-size: 61px;
  }

  .signUpButton {
    font-size: 21px;
    width: 126px;
    height: 55px;
  }

  .signUpBoard {
    margin-top: 160px;
    height: 720px;
  }

  .signUpSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signUpLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
  }

  .signUpInputContainer {
    width: 422px;
  }

  .signUpBoardContentWrapper {
    width: 598px;
    height: 630px;
    display: flex;
    margin-top: 40px;
  }

  .signUpCheckOutBoxWrapper {
    margin-top: 40px;
  }

  .signUpInputContainer {
    margin-top: 10px;
  }

  .arrowLeftBlue {
    margin-top: 48px;
    margin-left: 48px;
  }
}
