input:focus {
  outline: none;
}

.logInSection {
  height: 100vh;
  background-color: #d6dce2;
  display: flex;
  flex-direction: column;

  padding: 0px 16px;
}

.arrowLeftBlue {
  width: 32px;
  position: absolute;
  left: 32px;
  top: 32px;
}

.logInLogo {
  width: 64px;
  padding: 38px;
}

.logInBoard {
  background-color: #ffffff;
  height: 100%;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.logInBoardContentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.logInTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.logInTitle {
  font-weight: 700;
  font-size: 47px;
  margin-top: 28px;
}

.logInBlueLine {
  height: 3px;
  width: 88px;
  background-color: #29abe2;
  border-radius: 3px;
  margin: 14px 0 24px 0;
}

.logInInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logInInputName {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/person_grey.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputEmail {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/mail_grey.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputConfirmPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputName::placeholder {
  color: #d1d1d1;
}

.logInInputEmail::placeholder {
  color: #d1d1d1;
}

.logInInputPassword::placeholder {
  color: #d1d1d1;
}

.logInInputConfirmPassword::placeholder {
  color: #d1d1d1;
}

.logInCheckOutBoxWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.acceptPolicyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 48px 0 28px 0;
  box-sizing: border-box;
}

.rememberMe {
  cursor: default;
}

.logInCheckImg {
  width: 24px;
  cursor: pointer;
}

.blueFont {
  color: #29abe2;
}

.logInButton {
  width: 180px;
  height: 51px;
  background-color: #2a3647;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 700;
  margin-bottom: 24px;
  opacity: 0.1;
}

.logInLinksBox {
  display: flex;
  height: 160px;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
}

.logInLinks {
  color: #a8a8a8;
  cursor: pointer;
}

.logInNoUserSignUpBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-top: 40px;
}

.logInNoUserSignUpText {
  font-size: 20px;
  cursor: default;
}

.logInNoUserSignUpButton {
  color: white;
  background-color: #2a3647;
  padding: 15px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/* start sequence */

.landingpageBoxStart {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* start sequence */

.landingpageBoxAfterAnimation {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #2a364700;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 1500ms;
}

.openingScreenLogoBrightCenter {
  position: absolute;
  width: 64px;
  padding: 38px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.openingScreenLogoDarkCenter {
  position: absolute;
  width: 64px;
  padding: 38px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.openingScreenLogoBrightLeftCorner {
  width: 64px;
  padding: 38px;
  position: absolute;
  left: 16px;
  top: 0;
  transition: 1500ms;
  opacity: 0;
}

.openingScreenLogoDarkLeftCorner {
  width: 64px;
  padding: 38px;
  position: absolute;
  left: 16px;
  top: 0;
  transition: 1500ms;
}

.invisible {
  opacity: 0;
}

.displayNone {
  display: none;
}
