body {
  background-color: #f6f7f8;
}

input:focus {
  outline: none;
}

.logInSection {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0px 16px;
}

.logInLinksBox {
  padding-bottom: 8px;
}

.arrowLeftBlue {
  width: 32px;
  position: absolute;
  left: 32px;
  top: 32px;
}

.logInLogo {
  width: 64px;
  padding: 38px;
}

.logInBoard {
  background-color: #ffffff;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0.7764155368876742px 4.902094772041789px 6.94848px -3px rgba(0, 0, 0, 0.08960000000000001),
    1.5122832604369205px 9.548180726201316px 13.534080000000001px -2px rgba(0, 0, 0, 0.06720000000000001),
    2.479924287389773px 15.6576257257866px 22.19392px -1.1296px rgba(0, 0, 0, 0.04894848000000001), 3.7198864310846593px 23.4864385886799px 33.290879999999994px 1.4816px rgba(0, 0, 0, 0.03629696),
    5.539281833288561px 34.973649065137586px 49.57343999999999px 6.4448px rgba(0, 0, 0, 0.025096960000000005),
    7.439772862169319px 46.9728771773598px 66.58175999999999px 15.8528px rgba(0, 0, 0, 0.013896960000000002), -0.38820776844383736px -2.451047386020894px 10.42272px -3px #ffffff04,
    -0.7561416302184608px -4.774090363100658px 20.30112px -2px #ffffff03, -1.2399621436948873px -7.828812862893299px 33.29088px -1.1296px #ffffff02,
    -1.8599432155423308px -11.743219294339948px 49.936319999999995px 1.4816px #ffffff02, -2.769640916644282px -17.486824532568793px 74.36015999999998px 6.4448px #ffffff01,
    -3.7198864310846615px -23.486438588679896px 99.87263999999999px 15.8528px #ffffff01;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.logInBoardContentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.logInTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.logInTitle {
  font-weight: 700;
  font-size: 47px;
  margin-top: 28px;
}

.logInBlueLine {
  height: 3px;
  width: 88px;
  background-color: #29abe2;
  border-radius: 3px;
  margin: 14px 0 24px 0;
}

.logInInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logInInputName {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/person_grey.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputEmail {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 60px;
  font-size: 20px;
  background: url("../images/icons/mail_grey.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInPasswordContainer {
  width: 100%;
  position: relative;
}

.logInInputConfirmPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("../images/icons/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputName::placeholder {
  color: #d1d1d1;
}

.logInInputEmail::placeholder {
  color: #d1d1d1;
}

.logInInputPassword::placeholder {
  color: #d1d1d1;
}

.logInInputConfirmPassword::placeholder {
  color: #d1d1d1;
}

.loginFalseMessage {
  position: absolute;
  font-size: 13px;
  color: #ff8190;
  width: 100%;
}

.logInCheckOutBoxWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.acceptPolicyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 48px 0 28px 0;
  box-sizing: border-box;
}

.rememberMe {
  cursor: default;
}

.logInCheckImg {
  width: 24px;
  cursor: pointer;
}

.blueFont {
  color: #29abe2;
}

.logInButton {
  width: 180px;
  height: 51px;
  background-color: #2a3647;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 700;
  margin-bottom: 24px;
  opacity: 0.1;
  cursor: default;
  pointer-events: none;
  transition: 150ms;
}

.logInButton.enabled:hover {
  background-color: #29abe2;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 2px 4px #a8a8a8;
}

.guestLogInButton {
  width: 180px;
  height: 51px;
  background-color: #ffffff;
  color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #2a3647;
  font-weight: 700;
  margin-bottom: 24px;
  cursor: pointer;
  box-sizing: border-box;
}

.guestLogInButton:hover {
  border: 2px solid #29abe2;
  transition: 150ms;
  color: #29abe2;
  box-shadow: 0px 2px 4px #a8a8a8;
}

.logInLinksBox {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
}

.logInLinks {
  color: #a8a8a8;
  cursor: pointer;
  transition: 150ms;
}

.logInLinks:hover {
  color: #29abe2;
  transition: 150ms;
  scale: 1.03;
}

.logInNoUserSignUpBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-top: 40px;
}

.logInNoUserSignUpText {
  font-size: 20px;
  cursor: default;
}

.logInNoUserSignUpButton {
  color: white;
  background-color: #2a3647;
  padding: 15px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 150ms;
}

.logInNoUserSignUpButton:hover {
  box-shadow: 0px 2px 4px #a8a8a8;
  transition: 150ms;
  background-color: #29abe2;
}

/* start sequence */

.landingpageBoxStart {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* start sequence */

.landingpageBoxAfterAnimation {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #2a364700;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 1500ms;
}

.openingScreenLogoBrightCenter {
  position: absolute;
  width: 64px;
  padding: 38px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.openingScreenLogoDarkCenter {
  position: absolute;
  width: 64px;
  padding: 38px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.openingScreenLogoBrightLeftCorner {
  width: 64px;
  padding: 38px;
  position: absolute;
  left: 16px;
  top: 0;
  transition: 1500ms;
  opacity: 0;
}

.openingScreenLogoDarkLeftCorner {
  width: 64px;
  padding: 38px;
  position: absolute;
  left: 16px;
  top: 0;
  transition: 1500ms;
}

.invisible {
  opacity: 0;
}

.displayNone {
  display: none;
}

@media (min-width: 1024px) {
  .logInNoUserSignUpBox {
    position: absolute;
    right: 80px;
    top: 0;
    gap: 35px;
    padding-top: 40px;
  }

  .loginButtons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .logInBoard {
    height: 50%;
    width: 50%;
    max-width: 650px;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 115px;
    margin-top: 180px;
  }

  .logInBoardContentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .logInLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    padding: 38px;
  }

  .logInSection {
    justify-content: center;
    align-items: center;
  }

  .logInTitle {
    font-size: 61px;
  }

  .logInInputContainer {
    gap: 20px;
  }

  .acceptPolicyBox {
    padding: 0px 0 60px 0;
  }

  .logInButton {
    font-size: 21px;
  }
  .guestLogInButton {
    font-size: 21px;
  }
}
