.privacyPolicySection {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 32px 16px 24px 16px;
}

.h1PrivacyPolicyBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.h1PrivacyPolicy {
  font-weight: 700;
  font-size: 47px;
}

.h2PrivacyPolicy {
  font-weight: 700;
  font-size: 27px;
}

.imageH1PrivacyPolicyBox {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.show {
  position: absolute;
  display: block;
  background-color: #ffffff;
}

.addTaskDropDownSingleUserContainer {
  display: flex;
  justify-content: space-between;
}

.addTaskDropDownSingleUserContainer:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .privacyPolicyWrapper {
    display: flex;
  }

  .privacyPolicySection {
    margin-left: 232px;
    padding: 120px;
  }

  .subtitleWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
