@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

body {
  margin: 0;
  font-family: "Inter";
}

p {
  margin: 0;
}

.joinWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  top: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 90;
}

header img {
  width: 32px;
  margin-left: 16px;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  color: rgba(41, 171, 226, 1);
  font-weight: bold;
  border-radius: 100%;
  margin-right: 16px;
  border: solid 2px #2a3647;
  box-sizing: border-box;
}

.mainSection {
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
}

.testContent {
  height: 300px;
  width: 100%;
  background-color: rgb(206, 137, 137);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #2a3647;
  width: 100%;
  height: 80px;
  bottom: 0;
}

.navIconBox:hover {
  background-color: #091931;
  cursor: pointer;
}

.navIconBox:hover img,
.navIconBox:hover p {
  filter: brightness(100);
}

.navIconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(205, 205, 205, 1);
  font-size: 14px;
  font-family: "OpenSans";
  width: 76px;
  height: 76px;
  border-radius: 16px;
  gap: 4px;
}

.navIconBox img {
  height: 24px;
  width: 24px;
}

.navIconBox p {
  margin: 0;
}

/*----------------------------- multi-usage */

input {
  border: 2px solid #29abe2;
  outline: none;
  border-right: none;
}

input:focus {
  border: solid 2px #29abe2;
}

input:active {
  border: solid 2px #29abe2;
}

textarea {
  border: 2px solid #29abe2;
  outline: none;
}

textarea:focus {
  border: solid 2px #29abe2;
}

textarea:active {
  border: solid 2px #29abe2;
}

.img24px {
  width: 24px;
  height: 24px;
}

.img20px {
  width: 20px;
  height: 20px;
}

.backgroundBlue {
  background-color: #29abe2;
}

.backgroundBlue:hover {
  background-color: #091931;
}

.backgroundClick {
  position: absolute;
  background-color: #95959500;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 91;
}

.cursorPointer {
  cursor: pointer;
}

.cursorUnset {
  cursor: unset;
}

.displayNone {
  display: none;
}




/* ------------------------- add Task Subtask */


