::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.8);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(136, 136, 136, 0.5) transparent;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

body {
  margin: 0;
  font-family: "Inter";
}

p {
  margin: 0;
}

.joinWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
}

.joinWrapperContacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  top: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 900;
}

header img {
  width: 32px;
  margin-left: 14px;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  color: rgba(41, 171, 226, 1);
  font-weight: bold;
  border-radius: 100%;
  margin-right: 16px;
  border: solid 2px #2a3647;
  box-sizing: border-box;
  cursor: pointer;
}

.userProfile:hover {
  background-color: #0c2e621f;
}

.testContent {
  height: 300px;
  width: 100%;
  background-color: rgb(206, 137, 137);
}

.headerTitle {
  position: absolute;
  font-size: 24px;
  margin-left: 300px;
  display: none;
}

.helpImg {
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
}

.helpImg:hover {
  scale: 1.2;
}

.headerRightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.helpButtonModal {
  display: flex;
}

nav {
  height: 80px;
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 999;
}

.currentNavLinkBackground {
  background-color: #091931;
}
/*----------------------------- multi-usage */

input {
  border: 2px solid #29abe2;
  outline: none;
  border-right: none;
}

input:focus {
  border: solid 2px #29abe2;
}

input:active {
  border: solid 2px #29abe2;
}

textarea {
  border: 2px solid #29abe2;
  outline: none;
}

textarea:focus {
  border: solid 2px #29abe2;
}

textarea:active {
  border: solid 2px #29abe2;
}

.img24px {
  width: 24px;
  height: 24px;
}

.img20px {
  width: 20px;
  height: 20px;
}

.backgroundBlue {
  background-color: #29abe2;
}

.backgroundBlue:hover {
  background-color: #091931;
}

.backgroundClick {
  position: absolute;
  background-color: #95959500;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 91;
}

.cursorPointer {
  cursor: pointer;
}

.cursorUnset {
  cursor: unset !important;
}

textarea {
  resize: none;
}

.displayNone {
  display: none;
}

/* ------------------------- userProfileDropdown */

.userProfileDropdown {
  position: absolute;
  background-color: #2a3647;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  color: #cdcdcd;
  right: 0px;
  top: 80px;
  transition: 500ms;
}

.userProfileDropdownSlider {
  margin-right: -180px;
  transition: 500ms;
}

.userProfileButtons {
  padding: 8px 16px;
}

.userProfileButtons:hover {
  color: #29abe2;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .joinWrapper {
    flex-direction: row;
    height: 100%;
  }

  .joinWrapperContacts {
    flex-direction: row;
    height: 100vh;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #2a3647;
    width: 232px;
    height: 100%;
    left: 0;
    z-index: 99999;
  }
}

/* taskCreatetModal */

.modalFullScreenContainer {
  background-color: #29aae200;
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  display: none;
  color: #ffffff;
}

.taskCreatedModalInvisible {
  width: 326px;
  height: 74px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background-color: #2a3647;
  box-shadow: 0px 4px 0px #00000026;
  transition: top 500ms ease-in-out;
  font-size: 20px;
}

.taskCreatedModalShow {
  top: 50%;
}

.taskCreatedModalImg {
  width: 22px;
}

@media (min-width: 1024px) {
  .userProfile {
    height: 56px;
    width: 56px;
    border: solid 3px #2a3647;
    font-size: 20px;
  }

  .headerTitle {
    display: unset;
  }

  .helpButtonModal {
    display: none;
  }

  .helpImg {
    display: unset;
  }
}
