:root {
  --transition-time: 350ms;
  --scale-hover: 1.025;
}

.summaryIcons {
  width: 40px;
}

.summaryMidSectionAmountFontSize {
  font-size: 47px;
  font-weight: 600;
  text-align: center;
}

.summaryMidSectionStandartFontSize {
  font-size: 14px;
  text-align: center;
}

.summaryHeaderBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 12%;
  height: 104px;
  left: 16px;
}

.summaryHeaderFont {
  font-size: 47px;
  font-weight: 700;
}

.summarySubHeaderFont {
  font-size: 20px;
}

.summaryHeaderBlueLine {
  background-color: #29abe2;
  height: 3px;
  width: 90px;
  border-radius: 3px;
}

.summaryContentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  width: 100%;
  max-width: 600px;
  gap: 32px;
  padding: 0 32px;
}

.welcomeScreen {
  position: absolute;
  background-color: #f4f4f4;
  top: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  z-index: 10000;
  animation: fadeOut 2s ease-in-out forwards;

}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.welcomeDayTime {
  font-size: 36px;
  color: #2a3647;
}

.welcomeName {
  font-size: 47px;
  font-weight: 700;
  color: #29abe2;
}

.summaryWrapper {
  background-color: #f4f4f4;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summaryMidSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  gap: 16px;
}

.summaryMidSectionDoDoneBox {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 100%;
  height: calc((100% - 32px) / 3);
  gap: 16px;
}

.summaryMidSectionPrioDateBox {
  background-color: #ffffff;
  position: relative;
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: calc((100% - 32px) / 3);
  gap: 40px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  cursor: pointer;
}

.summaryMidSectionPrioDateBox:hover {
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
  color: white;
  background-color: #2a3647;
}

.summaryMidSectionBoardProgressFreebackBox {
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: calc((100% - 32px) / 3);
  gap: 16px;
}

.summaryMidSectionDone {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  cursor: pointer;
}

.summaryMidSectionDone:hover {
  background-color: #2a3647;
  color: white;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
}

.iconButtonToDo {
  width: 40px;
  height: 40px;
  background: url("../images/icons/pencil_white_round.svg") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: background var(--transition-time);
}

.iconButtonDone {
  width: 40px;
  height: 40px;
  background: url("../images/icons/check_white_round.svg") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: background var(--transition-time);
}

.summaryMidSectionToDo {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
}

.summaryMidSectionToDo:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(var(--scale-hover));
  cursor: pointer;
}

.summaryMidSectionToDo:hover .iconButtonToDo {
  background: url("../images/icons/pencil_dark_round.svg") no-repeat center center;
  background-size: contain;
}

.summaryMidSectionDone:hover .iconButtonDone {
  background: url("../images/icons/check_dark_round.svg") no-repeat center center;
  background-size: contain;
}

.summaryMidSectionPrio {
  background-color: #ffffff00;
  width: 45%;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 18px;
}

.summaryMidSectionPrioDateDividingLine {
  position: absolute;
  background-color: #d1d1d1;
  width: 2px;
  height: 60%;
  left: calc(45% + 1px);
  top: 20%;
}

.summaryMidSectionDate {
  background-color: #ffffff00;
  width: 55%;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.summaryMidSectionBoard {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionBoard:hover {
  background-color: #2a3647;
  color: white;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
  cursor: pointer;
}

.summaryMidSectionProgress {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionProgress:hover {
  background-color: #2a3647;
  color: white;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
  cursor: pointer;
}

.summaryMidSectionFeedback {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionFeedback:hover {
  background-color: #2a3647;
  color: white;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
  cursor: pointer;
}
