:root {
  --transition-time: 350ms;
  --scale-hover: 1.025;
}

.summaryIcons {
  width: 40px;
}

.summaryMidSectionAmountFontSize {
  font-size: 47px;
  font-weight: 600;
  text-align: center;
}

.summaryMidSectionStandartFontSize {
  font-size: 14px;
  text-align: center;
}

.summaryHeaderBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 104px;
  left: 16px;
}

.summaryHeaderFont {
  font-size: 47px;
  font-weight: 700;
}

.summarySubHeaderFont {
  font-size: 20px;
}

.summaryHeaderBlueLineMobile {
  background-color: #29abe2;
  height: 3px;
  width: 90px;
  border-radius: 3px;
}

.summaryHeaderBlueLineDesktop {
  display: none;
}

.summaryContentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  height: calc(100vh - 200px);
  width: 100%;
  max-width: 600px;
  gap: 32px;
  padding: 0 32px;
  margin-left: 0;
  margin-top: 0;
  margin: 0 auto;
}

.welcomeScreen {
  position: absolute;
  background-color: #f4f4f4;
  top: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  z-index: 10000;
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.welcomeDayTime {
  font-size: 36px;
  color: #2a3647;
}

.welcomeName {
  font-size: 47px;
  font-weight: 700;
  color: #29abe2;
}

.summaryMainScreenWithGreeting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.summaryMainScreenWrapper {
  width: calc(100% - 32px);
  max-width: 500px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  margin-top: -16%;
  gap: 8%;
}

.welcomeScreenDesktop {
  display: none;
}

.summaryWrapper {
  background-color: #f4f4f4;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summaryMidSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  gap: 16px;
}

.summaryMidSectionDoDoneBox {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 100%;
  height: calc((100% - 32px) / 3);
  gap: 16px;
}

.summaryMidSectionPrioDateBox {
  background-color: #ffffff;
  position: relative;
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: calc((100% - 32px) / 3);
  gap: 40px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  cursor: pointer;
}

.summaryMidSectionPrioDateBox:hover {
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
  color: white;
  background-color: #2a3647;
}

.summaryMidSectionBoardProgressFreebackBox {
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: calc((100% - 32px) / 3);
  gap: 16px;
}

.summaryMidSectionDone {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  cursor: pointer;
}

.summaryMidSectionDone:hover {
  background-color: #2a3647;
  color: white;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
}

.iconButtonToDo {
  width: 40px;
  height: 40px;
  background: url("../images/icons/pencil_white_round.svg") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: background var(--transition-time);
}

.iconButtonDone {
  width: 40px;
  height: 40px;
  background: url("../images/icons/check_white_round.svg") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: background var(--transition-time);
}

.summaryMidSectionToDo {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
}

.summaryMidSectionToDo:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(var(--scale-hover));
  cursor: pointer;
}

.summaryMidSectionToDo:hover .iconButtonToDo {
  background: url("../images/icons/pencil_dark_round.svg") no-repeat center center;
  background-size: contain;
}

.summaryMidSectionDone:hover .iconButtonDone {
  background: url("../images/icons/check_dark_round.svg") no-repeat center center;
  background-size: contain;
}

.summaryMidSectionPrio {
  background-color: #ffffff00;
  width: 45%;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 18px;
}

.summaryMidSectionPrioDateDividingLine {
  position: absolute;
  background-color: #d1d1d1;
  width: 2px;
  height: 60%;
  left: calc(45% + 1px);
  top: 20%;
}

.summaryMidSectionDate {
  background-color: #ffffff00;
  width: 55%;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.summaryMidSectionBoard {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionBoard:hover {
  background-color: #2a3647;
  color: white;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
  cursor: pointer;
}

.summaryMidSectionProgress {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionProgress:hover {
  background-color: #2a3647;
  color: white;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
  cursor: pointer;
}

.summaryMidSectionFeedback {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionFeedback:hover {
  background-color: #2a3647;
  color: white;
  transition: transform var(--transition-time), background-color var(--transition-time), color var(--transition-time);
  transform: scale(var(--scale-hover));
  cursor: pointer;
}

@media (min-width: 1024px) {
  .welcomeScreen {
    display: none;
  }

  .welcomeScreenDesktop {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .welcomeDayTimeDesktop {
    font-size: 47px;
    color: #2a3647;
  }

  .welcomeNameDesktop {
    font-size: 64px;
    font-weight: 700;
    color: #29abe2;
  }

  .summaryMainScreenWrapper {
    margin-left: 232px;
    margin-right: 0;
    max-width: 1100px;
    margin-top: unset;
  }

  .summaryHeaderBox {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 24px;
  }

  .summaryHeaderFont {
    font-size: 61px;
  }

  .summarySubHeaderFont {
    font-size: 27px;
  }

  .summaryHeaderBlueLineDesktop {
    display: flex;
    background-color: #29abe2;
    height: 60px;
    width: 3px;
  }

  .summaryHeaderBlueLineMobile {
    display: none;
  }

  .summaryMidSectionAmountFontSize {
    font-size: 64px;
  }

  .iconButtonToDo {
    width: 69px;
    height: 69px;
  }

  .iconButtonDone {
    width: 69px;
    height: 69px;
  }

  .summaryIcons {
    width: 69px;
    height: 69px;
  }

  .summaryMidSectionStandartFontSize {
    font-size: 20px;
  }

  .summaryDate {
    font-size: 21px;
    font-weight: 700;
  }

  .summaryDeadline {
    font-size: 16px;
    font-weight: 400;
  }

  .summaryMidSectionDate {
    align-items: center;
  }
}

@media (max-width: 1600px) {
  .summaryMainScreenWrapper {
    max-width: 850px;
    width: 70%;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .summaryMainScreenWrapper {
    max-width: 600px;
    width: 40%;
    padding-top: 60px;
  }
}
