/* nav Bar */

.navJoinLogo {
  display: none;
}

.navLinkContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #2a3647;
  width: 100%;
  height: 80px;
  bottom: 0;
  z-index: 102;
}

.navIconBox:hover {
  background-color: #091931;
  cursor: pointer;
}

.navIconBox:hover img,
.navIconBox:hover p {
  filter: brightness(100);
}

.navIconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(205, 205, 205, 1);
  font-size: 14px;
  font-family: "OpenSans";
  width: 76px;
  height: 76px;
  border-radius: 16px;
  gap: 4px;
}

.navIconBox img {
  height: 24px;
  width: 24px;
}

.navIconBox p {
  margin: 0;
}

.legalContainer {
  display: none;
}

/* task Form */

.taskFormWrapper {
  display: flex;
  flex-direction: column;
  /* margin-top: 180px; */
  overflow: hidden;
}

.taskFormMidSection {
  display: flex;
  flex-direction: column;
}

.addTaskLeftSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addTaskSectionDividingLine {
  display: none;
}

.addTaskRightSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskFormSectionBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskFormLabels {
  font-weight: 400;
  font-size: 16px;
}

.taskFormInputContainer {
  position: relative;
  height: 48px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 16px;
}

.taskFormInput {
  height: 100%;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 16px;
  font-family: "Inter";
  box-sizing: border-box;
 }

.taskFormInput::placeholder {
  font-size: 16px;
}

.requiredInfo {
  color: #ff8190;
  font-size: 12px;
  position: absolute;
  bottom: -16px;
}

.taskFormUserDropdownArrow {
  position: absolute;
  right: 14px;
  top: 12px;
  pointer-events: none;
  transform: none;
  transition: 450ms;
  cursor: pointer;
}

.taskFormDropdownBox {
  position: relative;
  margin-top: -8px;
}

.taskFormDropdownContent {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.15s ease, border 0.1s ease;
}

.cursorPointer {
  cursor: pointer;
}

/* taskFormBox */

.taskFormSection {
  margin-top: 80px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgba(246, 247, 248, 1);
  padding: 0px 16px;
}

.taskFormHeaderBox {
  width: 100%;
  height: 112px;
  font-weight: 700;
  font-size: 47px;
  position: relative;
  padding-bottom: 40px;
}

.taskFormHeader {
  top: 48px;
  position: absolute;
}

.taskForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 88px;
}

/* description */

.taskFormTextAreaContainer {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Inter";
  font-size: 16px;
}

.taskFormDescriptionTextArea {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: solid 1px #d1d1d1;
  padding: 12px 0 0 12px;
  font-size: 16px;
  font-family: "Inter";
  box-sizing: border-box;
}

.taskFormDescriptionTextArea::placeholder {
  font-size: 16px;
  color: #d1d1d1;
}

/* assigned to */

.userDropdownUserContainer {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
}

.userDropdownUserContainerBackground {
  background-color: #ffffff;
  color: black;
}

.userDropdownUserContainerBackground:hover {
  background-color: #d1d1d1;
}

.userDropdownUserContainerBackgroundToggled {
  background-color: #2a3647;
  color: white;
}

.userDropdownUserContainerBackgroundToggled:hover {
  background-color: #091931;
}

.taskFormUserInitials {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px rgb(255, 255, 255) solid;
  font-size: 10px;
  color: black;
  margin-right: -10px;
  box-sizing: border-box;
  cursor: default;
}

.taskFormUserNameAndInitials {
  width: 70%;
  gap: 16px;
}

.userIconsBoxWithPlus {
  display: flex;
  align-items: center;
}

.userIconsBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.plusUserIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 3px;
  font-size: 14px;
}

.numberUserIcons {
  font-size: 14px;
  margin-left: -10px;
  margin-bottom: 2px;
}

.maxHeight200 {
  max-height: 200px;
}

/* date */

.datePlaceholder {
  color: #d1d1d1;
}

input.empty {
  color: #d1d1d1;
}

/* Farbe für eingegebenes Datum */
input:not(.empty) {
  color: black;
}

/* task prioritiy */

.taskFormPrioButtonBox {
  display: flex;
  gap: 16px;
}

.taskFormPrioButtonUrgent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.taskFormPrioButtonUrgentOnClick {
  color: #ffffff;
  background-color: #ff3d00;
}

.taskFormPrioButtonUrgent:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.taskFormPrioButtonMedium {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.taskFormPrioButtonMedium:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.taskFormPrioButtonMediumOnClick {
  color: #ffffff;
  background-color: #ffa800;
}

.taskFormPrioButtonLow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.taskFormPrioButtonLow:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.taskFormPrioButtonLowOnClick {
  color: #ffffff;
  background-color: #7ae229;
}

.taskFormPrioButtonImage {
  width: 20px;
  height: 14.5px;
}

.taskFormPrioButtonUrgentIcon img {
  filter: brightness(10000%) saturate(0);
}

.taskFormPrioButtonMediumIcon img {
  filter: brightness(10000%) saturate(0);
}

.taskFormPrioButtonLowIcon img {
  filter: brightness(10000%) saturate(0);
}

/* category */

.taskFormDropdownInput {
  height: 100%;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 16px;
  cursor: pointer;
}

.taskFormDropdownInput:focus {
  border-radius: 10px 10px 0 0;
}

.taskFormDropdownInput::placeholder {
  color: black;
}

.categorieList {
  padding: 16px 12px;
}
.categorieList:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}

/* subtask */

.taskFormSubtaskInput {
  position: relative;
  height: 100%;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
  padding: 0 12px;
  font-size: 16px;
}

.taskFormSubtaskInput::placeholder {
  color: #d1d1d1;
}

.subtaskDividingLine {
  height: 24px;
  border: solid #a8a8a8 1px;
}

.iconWrapper {
  position: absolute;
  right: 14px;
  top: 12px;
  display: flex;
  gap: 8px;
}

.taskFormSubtaskPlusImage {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.taskFormSubtaskList {
  max-height: 200px;
  overflow-y: auto;
}

.taskFormSubtaskListBox {
  position: relative;
  height: 48px;
}

.taskFormSubtaskListSingle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.subtaskRewriteInput {
  position: absolute;
  height: 100%;
  width: calc(100% + 40px);
  font-size: 16px;
  padding: 4px 40px;
  left: -40px;
  border: 0;
  border-bottom: 2px solid #29abe2;
  box-sizing: border-box;
}

.subtaskIconBox {
  display: flex;
  gap: 4px;
  padding-right: 14px;
}

.subtaskRewriteIconBox {
  position: absolute;
  right: 0px;
  display: flex;
  gap: 4px;
  padding-right: 14px;
}

.no-marker {
  list-style-type: none;
}

.taskFormSubtaskDividingLine {
  border: 1px solid #a8a8a8;
  height: 24px;
}

/* ------------------------- taskForm Post/Patch Button */

.taskFormCreateTaskButtonBox {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  box-sizing: border-box;
}

.taskFormRequiredInfo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.createTaskButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #2a3647;
  padding: 16px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
}

.addTaskClearButton {
  display: none;
}

.createTaskButton:hover {
  cursor: pointer;
  background-color: #29abe2;
}

.createTaskButtonCheckImage {
  width: 24px;
  height: 24px;
}

.displayNone {
  display: none;
}

.createTaskButton.disabled {
  background-color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

@media (min-width: 1024px) {
  .taskFormWrapper {
    overflow: unset;
   
  }

  .taskFormHeader {
    font-size: 61px;
  }

  .taskFormLabels {
    font-size: 20px;
  }

  .taskFormSection {
    margin-left: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .taskFormMidSection {
    display: flex;
    justify-content: center;
    flex-direction: unset;
    gap: 32px;
  }

  .addTaskLeftSection {
    width: 440px;
    gap: 26px;
  }

  /* input section */

  .taskFormInput {
    height: 48px;
    padding: 12px 21px 12px 21px;
    font-size: 20px;
  }

  .taskFormInput::placeholder {
    font-size: 20px;
  }

  /* textarea section */

  .taskFormTextAreaContainer {
    height: 120px;
  }

  .taskFormDescriptionTextArea {
    padding: 12px 21px 12px 21px;
    font-size: 20px;
  }

  .taskFormDescriptionTextArea::placeholder {
    font-size: 20px;
  }

  /* dropdown section */

  .taskFormDropdownInput {
    font-size: 20px;
    height: 48px;
    padding: 12px 21px 12px 21px;
  }

  .userDropdownUserContainer {
    font-size: 20px;
    padding: 7px 16px 7px 16px;
    height: 56px;
  }

  .taskFormUserInitials {
    font-size: 12px;
    width: 42px;
    height: 42px;
  }

  .addTaskSectionDividingLine {
    border: 1px solid #d1d1d1;
    display: unset;
  }

  .addTaskRightSection {
    width: 440px;
    gap: 26px;
  }

  /* prio section */

  .taskFormPrioButtonBox {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .taskFormPrioButtonUrgent {
    height: 56px;
    width: 100%;
  }

  .taskFormPrioButtonMedium {
    height: 56px;
    width: 100%;
  }

  .taskFormPrioButtonLow {
    height: 56px;
    width: 100%;
  }

  .taskFormPrioButtonImage {
    width: 20px;
  }

  .taskFormPrioButtonBox {
    font-size: 20px;
  }

  /* category Section */

  .categorieList {
    font-size: 20px;
    padding: 12px 21px 12px 21px;
  }

  /* subtask Section */

  .taskFormInputContainer {
    height: 48px;
  }

  .taskFormSubtaskInput {
    padding: 12px 21px 12px 21px;
    font-size: 20px;
  }

  .taskFormSubtaskInput::placeholder {
    font-size: 20px;
  }

  .taskFormSubtaskListSingle {
    font-size: 16px;
  }

  /* button Section */

  .addTaskButtonBox {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .addTaskClearButton {
    display: flex;
    width: 110px;
    max-height: 56px;
    gap: 4px;
    padding: 16px;
    border: 1px solid #2a3647;
    background-color: #f6f7f8;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }

  .addTaskClearButton:hover {
    border-color: #29abe2;
    color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .createTaskButtonClearImage {
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/x_black_subtask.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .addTaskClearButton:hover .createTaskButtonClearImage {
    background-image: url("../images/icons/x_blue.png");
  }

  .createTaskButton {
    width: 183px;
    max-height: 56px;
  }

  .taskFormRequiredInfo {
    font-size: 20px;
  }

  .navJoinLogo {
    display: unset;
  }

  .navIconBox {
    width: 100%;
    flex-direction: unset;
    padding: 8px 0;
    gap: 20px;
    justify-content: flex-start;
    font-size: 16px;
    border-radius: 0;
  }

  .navLinkContainer {
    position: unset;
    display: flex;
    flex-direction: column;
    margin-bottom: 320px;
  }

  .navIconBox img {
    width: 30px;
    height: 30px;
    margin-left: 52px;
  }

  .legalContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
  }

  .navLegalPrivacyPolicy {
    color: #a8a8a8;
  }

  .navLegalPrivacyPolicy:hover {
    color: #29abe2;
    scale: 1.02;
    cursor: pointer;
  }

  .navLegalLegalNotice {
    color: #a8a8a8;
  }

  .navLegalLegalNotice:hover {
    color: #29abe2;
    scale: 1.02;
    cursor: pointer;
  }
}
