/* multi use */
.taskFormWrapper {
  display: flex;
  flex-direction: column;
  /* margin-top: 180px; */
  overflow: hidden;
}

.taskFormMidSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: auto;
}

.taskFormSectionBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskFormLabels {
  font-weight: 400;
  font-size: 16px;
}

.taskFormInputContainer {
  position: relative;
  height: 48px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 16px;
}

.taskFormInput {
  height: 100%;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 16px;
  font-family: "Inter";
}

.taskFormInput::placeholder {
  font-size: 16px;
  color: #d1d1d1;
}

.taskFormUserDropdownArrow {
  position: absolute;
  right: 14px;
  top: 12px;
  pointer-events: none;
  transform: none;
  transition: 450ms;
  cursor: pointer;
}

.taskFormDropdownBox {
  position: relative;
  margin-top: -8px;
}

.taskFormDropdownContent {
  position: absolute;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.15s ease, border 0.1s ease;
}

.cursorPointer {
  cursor: pointer;
}

/* taskFormBox */

.taskFormSection {
  margin-top: 80px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgba(246, 247, 248, 1);
  padding: 0px 16px;
}

.taskFormHeaderBox {
  width: 100%;
  height: 112px;
  font-weight: 700;
  font-size: 47px;
  position: relative;
}

.taskFormHeader {
  top: 48px;
  position: absolute;
}

.taskForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 88px;
}

/* description */

.taskFormTextAreaContainer {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Inter";
  font-size: 16px;
}

.taskFormDescriptionTextArea {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: solid 1px #d1d1d1;
  padding: 12px 0 0 12px;
  font-size: 16px;
  font-family: "Inter";
  box-sizing: border-box;
}

.taskFormDescriptionTextArea::placeholder {
  font-size: 16px;
  color: #d1d1d1;
}

/* assigned to */

.userDropdownUserContainer {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
}

.userDropdownUserContainerBackground {
  background-color: #ffffff;
  color: black;
}

.userDropdownUserContainerBackground:hover {
  background-color: #d1d1d1;
}

.userDropdownUserContainerBackgroundToggled {
  background-color: #2a3647;
  color: white;
}

.userDropdownUserContainerBackgroundToggled:hover {
  background-color: #091931;
}

.taskFormUserInitials {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  border: 2px rgb(255, 255, 255) solid;
  font-size: 10px;
  color: black;
}

.taskFormUserNameAndInitials {
  width: 70%;
  gap: 16px;
}

.userIconsBox {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 5px;
}

.maxHeight200 {
  max-height: 200px;
}

/* task prioritiy */

.taskFormPrioButtonBox {
  display: flex;
  gap: 16px;
}

.taskFormPrioButtonUrgent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.taskFormPrioButtonUrgentOnClick {
  color: #ffffff;
  background-color: #ff3d00;
}

.taskFormPrioButtonUrgent:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.taskFormPrioButtonMedium {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.taskFormPrioButtonMedium:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.taskFormPrioButtonMediumOnClick {
  color: #ffffff;
  background-color: #ffa800;
}

.taskFormPrioButtonLow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.taskFormPrioButtonLow:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.taskFormPrioButtonLowOnClick {
  color: #ffffff;
  background-color: #7ae229;
}

.taskFormPrioButtonImage {
  width: 20px;
  height: 14.5px;
}

.taskFormPrioButtonUrgentIcon img {
  filter: brightness(10000%) saturate(0);
}

.taskFormPrioButtonMediumIcon img {
  filter: brightness(10000%) saturate(0);
}

.taskFormPrioButtonLowIcon img {
  filter: brightness(10000%) saturate(0);
}

/* category */

.taskFormDropdownInput {
  height: 100%;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 16px;
  cursor: pointer;
}

.taskFormDropdownInput:focus {
  border-radius: 10px 10px 0 0;
}

.taskFormDropdownInput::placeholder {
  color: black;
}

.categorieList {
  padding: 16px 12px;
}
.categorieList:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}

/* subtask */

.taskFormSubtaskInput {
  position: relative;
  height: 100%;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
  padding: 0 12px;
  font-size: 16px;
}

.taskFormSubtaskInput::placeholder {
  color: black;
}

.subtaskDividingLine {
  height: 24px;
  border: solid #a8a8a8 1px;
}

.iconWrapper {
  position: absolute;
  right: 14px;
  top: 12px;
  display: flex;
  gap: 8px;
}

.taskFormSubtaskPlusImage {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.taskFormSubtaskListBox {
  position: relative;
  height: 48px;
}

.taskFormSubtaskListSingle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.subtaskRewriteInput {
  position: absolute;
  height: 100%;
  width: calc(100% + 40px);
  font-size: 16px;
  padding: 4px 40px;
  left: -40px;
  border: 0;
  border-bottom: 2px solid #29abe2;
  box-sizing: border-box;
}

.subtaskIconBox {
  display: flex;
  gap: 4px;
  padding-right: 14px;
}

.subtaskRewriteIconBox {
  position: absolute;
  right: 0px;
  display: flex;
  gap: 4px;
  padding-right: 14px;
}

.no-marker {
  list-style-type: none;
}

.taskFormSubtaskDividingLine {
  border: 1px solid #a8a8a8;
  height: 24px;
}

/* ------------------------- taskForm Post/Patch Button */

.taskFormCreateTaskButtonBox {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  box-sizing: border-box;
}

.taskFormRequiredInfo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.createTaskButton {
  display: flex;
  gap: 4px;
  background-color: #2a3647;
  padding: 16px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
}

.createTaskButton:hover {
  cursor: pointer;
  background-color: #29abe2;
}

.createTaskButtonCheckImage {
  width: 24px;
  height: 24px;
}

.displayNone {
  display: none;
}
