@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf");
}

body {
  margin: 0;
  font-family: "Inter";
}

.joinWrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.contactsMainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding-bottom: 80px;
  padding-top: 24px;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.contactLetterWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  max-width: 352px;
  gap: 24px;
  margin-bottom: 28px;
}

.contactLetter {
  font-size: 20px;
  margin-left: 36px;
}

.contactCard {
  display: flex;
  gap: 42px;
  padding: 0 24px;
}

.contactCardInitialsCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  background-color: aqua;
  border-radius: 50%;
}

.contactInfos {
  display: flex;
  flex-direction: column;
}

.contactName {
  font-size: 20px;
}

.initials {
  font-size: 12px;
  text-align: center;
  color: white;
}

.contactMail {
  color: rgba(0, 124, 238, 1);
  font-size: 16px;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(209, 209, 209, 1);
}

.addContactCircleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 56px;
  height: 56px;
  right: 10%;
  bottom: 14%;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 50%;
}

.addContactCircleButton img {
  width: 32px;
}

.createContactPopupBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

@media (max-width: 380px) {
  .contactCard {
    gap: 18px;
  }
}

@media (max-width: 360px) {
  .contactCard {
    padding: 0 6px;
  }

  .contactLetter {
    margin-left: 22px;
  }
}
