.helpPageSection {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 32px 16px 24px 16px;
  }
  
  .h1HelpBox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
  }
  
  .h1Help {
    font-weight: 700;
    font-size: 47px;
  }
  
  .h2Help {
    font-weight: 700;
    font-size: 27px;
  }
  
  .h3Help {
    font-weight: bold;
    font-size: 20px;
  }
  
  .imageH1HelpBox {
    width: 32px;
    height: 32px;
  }
  
  .imageH1HelpBox:hover {
    cursor: pointer;
  }
  
  .helpPageBlueJoin {
    color: #29abe2;
  }
  
  .helpPageHowToUseNumbers {
    font-weight: bold;
    font-size: 27px;
  }
  
  .helpPageGuideBoxes {
    display: flex;
    justify-content: space-between;
    gap: 35px;
  }
  