@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf");
}

body {
  margin: 0;
  font-family: "Inter";
}

p {
  margin: 0;
}

.joinWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  top: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 90;
}

header img {
  width: 32px;
  margin-left: 16px;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  color: rgba(41, 171, 226, 1);
  font-weight: bold;
  border-radius: 100%;
  margin-right: 16px;
  border: solid 2px #2a3647;
  box-sizing: border-box;
}

.mainSection {
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
}

.testContent {
  height: 300px;
  width: 100%;
  background-color: rgb(206, 137, 137);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #2a3647;
  width: 100%;
  height: 80px;
  bottom: 0;
}

.navIconBox:hover {
  background-color: #091931;
  cursor: pointer;
}

.navIconBox:hover img,
.navIconBox:hover p {
  filter: brightness(100);
}

.navIconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(205, 205, 205, 1);
  font-size: 14px;
  font-family: "OpenSans";
  width: 76px;
  height: 76px;
  border-radius: 16px;
  gap: 4px;
}

.navIconBox img {
  height: 24px;
  width: 24px;
}

.navIconBox p {
  margin: 0;
}

/*----------------------------- multi-usage */

.addTaskSectionHeaderInputGap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  border: 2px solid #29abe2;
  outline: none;
  border-right: none;
}

input:focus {
  border: solid 2px #29abe2;
}

input:active {
  border: solid 2px #29abe2;
}

textarea {
  border: 2px solid #29abe2;
  outline: none;
}

textarea:focus {
  border: solid 2px #29abe2;
}

textarea:active {
  border: solid 2px #29abe2;
}

.img24px {
  width: 24px;
  height: 24px;
}

.fontInboxAlign {
  display: flex;
  align-items: center;
}

.backgroundBlue {
  background-color: #29abe2;
}

.backgroundBlue:hover {
  background-color: #091931;
}

.backgroundClick {
  position: absolute;
  background-color: #95959500;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 91;
}

/* landingpage.html Styling below:-------------------------------------------------------------------- */

.landingpageBox {
  height: 100vh;
  width: 100vw;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingpageImage {
  width: 100px;
}

/* logInPage.html Styling below:--------------------------------------------------------- */

input:focus {
  outline: none;
  /* border-color: transparent; */
}

.logInSection {
  height: 100vh;
  background-color: #d6dce2;
  display: flex;
  flex-direction: column;

  padding: 0px 16px;
}

.arrowLeftBlue {
  width: 32px;
  position: absolute;
  left: 32px;
  top: 32px;
}

.logInLogo {
  width: 64px;
  padding: 38px;
}

.logInBoard {
  background-color: #ffffff;
  height: 100%;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.logInBoardContentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.logInTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logInTitle {
  font-weight: 700;
  font-size: 47px;
  margin-top: 28px;
}

.logInBlueLine {
  height: 3px;
  width: 88px;
  background-color: #29abe2;
  border-radius: 3px;
  margin: 14px 0 24px 0;
}

.logInInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logInInputName {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("images/mobile/logInPage/person.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputEmail {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("images/mobile/logInPage/mail.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("images/mobile/logInPage/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputConfirmPassword {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid #d1d1d1 1px;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 20px;
  background: url("images/mobile/logInPage/lock.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 16px);
}

.logInInputName::placeholder {
  color: #d1d1d1;
}

.logInInputEmail::placeholder {
  color: #d1d1d1;
}

.logInInputPassword::placeholder {
  color: #d1d1d1;
}

.logInInputConfirmPassword::placeholder {
  color: #d1d1d1;
}

.logInCheckOutBoxWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.acceptPolicyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 48px 0 28px 0;
  box-sizing: border-box;
}

.logInCheckImg {
  width: 24px;
}

.blueFont {
  color: #29abe2;
}

.logInButton {
  width: 180px;
  height: 51px;
  background-color: #2a3647;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 700;
  margin-bottom: 24px;
  opacity: 0.1;
}

.logInLinksBox {
  display: flex;
  height: 160px;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
}

.logInLinks {
  color: #a8a8a8;
}

.logInNoUserSignUpBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-top: 40px;
}

.logInNoUserSignUpText {
  font-size: 20px;
}

.logInNoUserSignUpButton {
  color: white;
  background-color: #2a3647;
  padding: 15px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

/* summary.html Styling below:-------------------------------------------------------------------- */

.summaryIcons {
  width: 40px;
}

.summaryMidSectionAmountFontSize {
  font-size: 47px;
  font-weight: 600;
  text-align: center;
}

.summaryMidSectionStandartFontSize {
  font-size: 14px;
  text-align: center;
}

.summaryHeaderBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 12%;
  height: 104px;
  left: 16px;
}

/* @media (min-width: 400px) {
  .summaryHeaderBox {
    top: 128px;
  }
} */

.summaryHeaderFont {
  font-size: 47px;
  font-weight: 700;
}

.summarySubHeaderFont {
  font-size: 20px;
}

.summaryHeaderBlueLine {
  background-color: #29abe2;
  height: 3px;
  width: 90px;
  border-radius: 3px;
}

.summaryWrapper {
  background-color: #f4f4f4;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summaryMidSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vw;
  padding: 16px;
  gap: 16px;
}

@media (min-width: 768px) {
  .summaryMidSectionWrapper {
    width: 60vh;
    height: 60%;
  }
}

.summaryMidSectionDoDoneBox {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.summaryMidSectionPrioDateBox {
  background-color: #ffffff;
  position: relative;
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  gap: 40px;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionBoardProgressFreebackBox {
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.summaryMidSectionToDoAndDone {
  background-color: white;
  width: 100%;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionPrio {
  background-color: #ffffff;
  width: 45%;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: right;
  align-items: center;

  gap: 18px;
}

.summaryMidSectionPrioDateDividingLine {
  position: absolute;
  background-color: #d1d1d1;
  width: 2px;
  height: 60%;
  left: calc(45% + 1px);
  top: 20%;
}

.summaryMidSectionDate {
  background-color: #ffffff;
  width: 55%;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 16px;
}

.summaryMidSectionBoard {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionProgress {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.summaryMidSectionFeedback {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

/* board.html Styling below:-------------------------------------------------------------------- */
/* board popup --------------- */
.boardPopupBackground {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: #79e22928; */
  z-index: 400;
}
.boardTaskPopup {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: calc(100% - 24px - 88px - 88px);
  width: calc(100% - 24px);
  background-color: #ffffff;
  z-index: 500;
  border-radius: 30px;
}

.boardTaskPopupContentWrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff6a;
  width: calc(100% - 40px);
  height: calc(100% - 64px);
  box-sizing: border-box;
  border-radius: 30px;
  gap: 16px;
}

.boardTaskPopupContentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: white;
}

.boardTaskPopupCategoryCard {
  background-color: #0038ff;
  padding: 4px 16px;
  border-radius: 8px;
}

.boardTaskPopupCategoryLabel {
  font-size: 16px;
  color: white;
}

.boardTaskPopupContentCenter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.boardTaskPopupContentClose {
  width: 32px;
}

.boardTaskPopupContentTitle {
  font-size: 36px;
  font-weight: bold;
}

.boardTaskPopupContentDescription {
  font-size: 16px;
}

.boardTaskPopupContentDateWrapper {
  display: flex;
  gap: 25px;
}

.boardTaskPopupContentDateLabel,
.boardTaskPopupContentPrioLabel,
.boardTaskPopupContentAssignedToLabel,
.boardTaskPopupContentSubtasksLabel {
  font-size: 16px;
  color: #42526e;
}

.boardTaskPopupContentDate {
  font-size: 16px;
}

.boardTaskPopupContentPrioWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.boardTaskPopupContentPrioOutputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boardTaskPopupContentPrioValue {
  font-size: 16px;
}

.boardTaskPopupContentPrioIcon {
  height: 32px;
}

.boardTaskPopupContentAssignedToWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boardTaskPopupContentAssignedToUserWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.boardTaskPopupContentAssignedToUserContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 8px 16px;
  /* background-color: #091931; */
}

.boardTaskPopupContentAssignedToUserCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.boardTaskPopupContentAssignedToUserInitials {
  color: white;
}

.boardTaskPopupContentSubtasksList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 16px;
  gap: 8px;
}

.boardTaskPopupContentSubtask {
  display: flex;
  align-items: center;
  gap: 16px;
}

.boardTaskPopupContentSubtaskIcon,
.boardTaskPopupDeleteIcon,
.boardTaskPopupEditIcon {
  width: 24px;
}

.boardTaskPopupContentBottom {
  justify-content: flex-end;
  display: flex;
  gap: 8px;
}

.boardTaskPopupContentDeleteContainer,
.boardTaskPopupContentEditContainer {
  display: flex;
  align-items: center;
}

.boardTaskPopupContentDeleteContainer,
.boardTaskPopupContentEditContainer:hover {
  cursor: pointer;
}

.boardTaskPopupContentBottomLine {
  height: 100%;
  width: 1px;
  background-color: #d1d1d1;
}


/* board popup edit */


.boardTaskEditPopup {
 position: absolute;
 top: 0;
 left: 0;

}

/* board main ------------------- */

.boardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
}

.boardTitleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  color: black;
  font-size: 47px;
  font-weight: 700;
}

.boardTitleContainer img {
  width: 40px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 32px;
  border: 1px solid rgba(168, 168, 168, 1);
}

.inputContainer img {
  width: 32px;
  height: 32px;
  padding: 0 16px;
  border-left: 1px solid rgba(209, 209, 209, 1);
}

.findTaskInput {
  border-width: 0;
  padding: 0;
  padding-left: 16px;
  font-size: 20px;
}

.findTaskInput::placeholder {
  color: rgba(209, 209, 209, 1);
}

.toDoSection,
.inProgressSection,
.awaitFeedbackSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

.doneSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 80px;
}

.toDoSectionTitleContainer,
.inProgressTitleContainer,
.awaitFeedbackTitleContainer,
.doneTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 27px;
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
}

.noTasksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
  border-radius: 10px;
  border: 1px dashed rgba(168, 168, 168, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.toDoSectionContentWrapper,
.inProgressContentWrapper,
.awaitFeedbackContentWrapper,
.doneContentWrapper {
  display: flex;
  margin-top: 12px;
  margin-bottom: 4px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 16px;
}

.toDoSectionContentWrapper::-webkit-scrollbar,
.inProgressContentWrapper::-webkit-scrollbar,
.awaitFeedbackContentWrapper::-webkit-scrollbar,
.doneContentWrapper::-webkit-scrollbar {
  display: none;
}

.taskCard {
  display: flex;
  flex-direction: column;
  width: 252px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  flex-shrink: 0;
  margin: 8px 0;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.taskCardCategory {
  display: inline-flex;
  align-items: center;
  height: 27px;
  width: fit-content;
  background-color: rgba(0, 56, 255, 1);
  color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 2px 16px;
  margin-bottom: 20px;
}

.taskCardTitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
}

.taskCardDescription {
  font-size: 16px;
  color: rgba(168, 168, 168, 1);
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
}

.taskCardSubtasksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 16px;
  font-size: 12px;
  margin-bottom: 20px;
}

.taskCardSubtaskBarWrapper {
  width: 60%;
  height: 8px;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 8px;
}

.taskCardSubtaskBar {
  width: 50%;
  height: 100%;
  background-color: rgba(69, 137, 255, 1);
  border-radius: 8px;
}

.taskCardBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskCardBottomContainer img {
  width: 32px;
  height: 32px;
}

.taskCardUserContainer {
  display: flex;
  position: relative;
  /* left: 20px; */
}

.taskCardUser {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-color: rgba(255, 122, 0, 1);
  border: solid 1px #ffffff;
  color: white;
  box-sizing: border-box;
  margin-left: -10px;
  font-size: 12px;
}

.taskCardUser:first-child {
  margin-left: 0px;
}

/* AddTask.html Styling below:-------------------------------------------------------------------- */

.addTaskSection {
  margin-top: 80px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgba(246, 247, 248, 1);
  padding: 0px 16px;
}

.addTaskHeaderBox {
  width: 100%;
  height: 112px;
  font-weight: 700;
  font-size: 47px;
  position: relative;
}

.addTaskHeader {
  top: 48px;
  position: absolute;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 88px;
}

.addTaskFormLabels {
  font-weight: 400;
  font-size: 16px;
}

/*----------------------------- add Task Title */

.addTaskInputTitle {
  height: 48px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  padding-left: 12px;
  font-size: 16px;
}

.addTaskInputTitle::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #d1d1d1;
}

/*----------------------------- add Task Description */

.addTaskInputDescription {
  height: 88px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  padding-left: 12px;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: "inter";
  resize: none;
}

.addTaskInputDescription::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #d1d1d1;
}

/*----------------------------- add Task AddContact */

.addTaskAddContacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addTaskContactsDropdown {
  height: 48px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
}

.addTaskAssignContactsButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
}

.addTaskContactsDropdownLableBoxClosed {
  height: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0px 12px 0px 12px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  cursor: pointer;
  z-index: 80;
}

.addTaskContactsDropdownLableBoxOpen {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  cursor: pointer;
  z-index: 100;
}

.addTaskContactsDropdownLableBoxContent {
  width: 100%;
  max-height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: "Inter";
  font-size: 16px;
  border-radius: 0px 0px 10px 10px;
  border: solid 1px #d1d1d1;
  border-top: none;
  overflow-y: auto;
  box-sizing: border-box;
  margin-top: 52px;
}

.addUserSymbolsAssign {
  display: flex;
}

.dropDownSearchCloseButtonBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.addTaskSubtaskImageBox {
  display: flex;
  position: absolute;
  right: 16px;
  gap: 8px;
}

.addTaskSubtaskX {
  width: 24px;
  border-radius: 16px;
}

.addTaskSubtaskX:hover {
  background-color: #d1d1d1;
}

.addTaskSubtaskCheck {
  width: 24px;
  border-radius: 16px;
}

.addTaskSubtaskCheck:hover {
  background-color: #d1d1d1;
}

.addTaskDropDownCloseButton {
  position: absolute;
  right: 13px;
  top: 12px;
}

.userNameDropDownSearchbar {
  height: 48px;
  width: 100%;
  font-family: "Inter";
  font-size: 16px;
  padding: 0px 3px 0px 3px;
  border-radius: 10px 10px 0 0;
  border: solid 1px #d1d1d1;
  padding-inline: 12px;
}

.addTaskDropDownSingleUserContainer {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}

.addTaskDropDownSingleUserContainer:hover {
  background-color: #d1d1d1;
}

.addTaskContactsDropdownLabel {
  font-size: 16px;
}

.addTaskAddUserNameAndInitials {
  display: flex;
  width: 70%;
  gap: 16px;
}

.addTaskAllUserInitials {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  border: 2px rgb(255, 255, 255) solid;
  font-size: 10px;
}

.addTaskButtonCheckImage {
  width: 24px;
}

.addTaskNewBackgroundChecked {
  background-color: #2a3647 !important;
  color: white;
}

.addTaskNewBackgroundChecked:hover {
  background-color: #091931 !important;
  color: white;
}

/* ------------------------- add Task Date */

.addTaskDueDateDropdown {
  height: 48px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0px 16px 0px 12px;
  font-family: "Inter";
  font-size: 16px;
}

/* ------------------------- add Task Prio */

.addTaskPrioButtonBox {
  display: flex;
  gap: 16px;
}

.addTaskPrioButtonUrgent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.addTaskPrioButtonUrgentOnClick {
  color: #ffffff;
  background-color: #ff3d00;
}

.addTaskPrioButtonUrgent:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.addTaskPrioButtonMedium {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.addTaskPrioButtonMedium:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.addTaskPrioButtonMediumOnClick {
  color: #ffffff;
  background-color: #ffa800;
}

.addTaskPrioButtonLow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 8px;
  width: 121px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
}

.addTaskPrioButtonLow:hover {
  box-shadow: 2px 2px 2px #d1d1d1;
  cursor: pointer;
}

.addTaskPrioButtonLowOnClick {
  color: #ffffff;
  background-color: #7ae229;
}

.addTaskPrioButtonImage {
  width: 20px;
  height: 14.5px;
}

.addTaskPrioButtonUrgentIcon img {
  filter: brightness(10000%) saturate(0);
}

.addTaskPrioButtonMediumIcon img {
  filter: brightness(10000%) saturate(0);
}

.addTaskPrioButtonLowIcon img {
  filter: brightness(10000%) saturate(0);
}

/* ------------------------- add Task Category */

.addTaskChooseCategoryButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
}

.addTaskChooseCategoryDropdownLableBoxClosed {
  height: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0px 12px 0px 12px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  cursor: pointer;
}

.addTaskChooseCategoryDropdownLableBoxOpen {
  height: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0px 12px 0px 12px;
  border-radius: 10px 10px 0 0;
  border: solid 1px #d1d1d1;
  border-bottom: none;
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  cursor: pointer;
}

.addTaskChooseCategoryDropdownLableBoxContent {
  width: 100%;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: "Inter";
  font-size: 16px;
  border-radius: 0px 0px 10px 10px;
  border: solid 1px #d1d1d1;
  border-top: none;
  margin-top: 48px;
  overflow-y: auto;
  z-index: 120;
}

.categorieList {
  padding: 16px 12px;
}
.categorieList:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}

/* ------------------------- add Task Subtask */
.addTaskPlusIconSmall {
  height: 30px;
}

.addTaskSubtaskDropdownBox {
  height: 48px;
  position: relative;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.addTaskSubtaskInputCover {
  width: 100%;
  height: 100%;
  padding: 4.5px 12px 4.5px 12px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
}

.addTaskSubtaskPlusImage {
  position: absolute;
  right: 14px;
  top: 12px;
}

.addTaskSubTaskList {
  position: relative;
}

.addTaskSubtaskInputBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
}

.addTaskSubtaskInput {
  width: 100%;
  height: 100%;
}

.addTaskSubtaskInputField {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  background-color: #ffffff;
  border: #29abe2 2px solid;
  border-right: none;
  font-family: "Inter";
  font-size: 16px;
  padding: 0 12px;
  z-index: 50;
}

.addTaskSubtaskInputField:focus {
  border-right: none;
}

.addTaskSubtaskInputField:active {
  border-right: none;
}

.addTaskSubtaskCheckXBox {
  display: flex;
  justify-content: right;
  padding-right: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 0px 10px 10px 0px;
  border: #29abe2 2px solid;
  border-left: none;
  background-color: #ffffff;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}

.addTaskSingleListSubtask {
  height: 48px;
}

.addTaskDisplayFlexer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addTaskSubtaskIconBox {
  display: flex;
  gap: 4px;
  padding-right: 14px;
}

.addTaskSubtaskDividingLine {
  border: 1px solid #a8a8a8;
  height: 24px;
}

.taskBoardRewriteSubtaskInput {
  height: 48px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-bottom: #29abe2 solid 1px;
  padding: 0;
  box-sizing: border-box;
}

.addTaskRewriteSubtaskFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTaskSubtaskInvisibleBackgroundClicker {
  background-color: #a7ff635c;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* ------------------------- add Task post Button */

.addTaskButton {
  display: flex;
  justify-content: space-between;
}

.addTaskRequiredInfo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.createTaskButton {
  display: flex;
  gap: 4px;
  background-color: #2a3647;
  padding: 16px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
}

.createTaskButton:hover {
  cursor: pointer;
  background-color: #29abe2;
}

.addTaskButtonCheckImage {
  width: 24px;
  height: 24px;
}

/* helpPage.html Styling below:-------------------------------------------------------------------- */

.helpPageSection {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 32px 16px 24px 16px;
}

.h1HelpBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.h1Help {
  font-weight: 700;
  font-size: 47px;
}

.h2Help {
  font-weight: 700;
  font-size: 27px;
}

.h3Help {
  font-weight: bold;
  font-size: 20px;
}

.imageH1HelpBox {
  width: 32px;
  height: 32px;
}

.imageH1HelpBox:hover {
  cursor: pointer;
}

.helpPageBlueJoin {
  color: #29abe2;
}

.helpPageHowToUseNumbers {
  font-weight: bold;
  font-size: 27px;
}

.helpPageGuideBoxes {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

/* privacyPolicy.html Styling below:-------------------------------------------------------------------- */

.privacyPolicySection {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 32px 16px 24px 16px;
}

.h1PrivacyPolicyBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.h1PrivacyPolicy {
  font-weight: 700;
  font-size: 47px;
}

.h2PrivacyPolicy {
  font-weight: 700;
  font-size: 27px;
}

.imageH1PrivacyPolicyBox {
  width: 32px;
  height: 32px;
}

.imageH1privacyPolicyBox:hover {
  cursor: pointer;
}

.show {
  position: absolute;
  display: block;
  background-color: #ffffff;
}

.addTaskDropDownSingleUserContainer {
  display: flex;
  justify-content: space-between;
}

.addTaskDropDownSingleUserContainer:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.displayNone {
  display: none;
}
