body {
    padding: 0;
}
.button1 {
  background-color: #293647;
  padding: 16px 10px 16px 10px;
  border-radius: 10px;
  border: 0;
  color: white;
  width: 204px;
  height: 60px;
  font-size: 23px;
  line-height: 27.6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
}
.button2 {
  padding: 16px 10px 16px 10px;
  border-radius: 10px;
  border-color: #647188;
  border-width: 1px;
  width: 134px;
  height: 60px;
  font-size: 23px;
  line-height: 27.6px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #647188;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 32px;
  margin-bottom: 70px;
}
.addContactButton {
  background-color: #293647;
  padding: 16px 10px 16px 10px;
  border-radius: 10px;
  border: 0;
  color: white;
  width: 357px;
  height: 60px;
  font-size: 23px;
  line-height: 27.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  height: 352px;
  background-color: #293647;
  border-radius: 30px 30px 0px 0px;
}

.addContactDiv {
border: 1px solid #d1d1d1;
border-radius: 30px;
}
#addNewContact {
  position: absolute;
  left: 54%;
  border-radius: 30px 0px 0px 30px;
}
.contactsDiv {
  width: 456px;
  height: 928px;
  padding: 32px 24px 32px 24px;
}
.contacts {
  width: 400px;
}
.headlineDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
}
.addContactheadline {
  font-family: "Inter";
  font-weight: 500;
  font-size: 47px;
  color: white;
  line-height: 56.4px;
}
.addContactSpan {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.closePng24px {
  width: 24px;
  border-radius: 50px;
}

.closePng24px:hover{
    background-color: #3dabe2;
    cursor: pointer;
}
.closePngDiv {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}
.joinLogoCapa2 {
  width: 55px;
  height: 67px;
}
.formDiv {
  border-radius: 0px 0px 30px 30px;
  padding: 20px;
  margin-top: 54px;
}
#name {
  background: url(/Views/img/person.png) no-repeat right;
  height: 48px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1;
}
#email {
  background: url(/Views/img/mail.png) no-repeat right;
  width: 100%;
  height: 48px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1;
}
#phone {
  background: url(/Views/img/call.png) no-repeat right;
  height: 48px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1;
}
.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.d-none {
  display: none;
}
.userLogoDiv{
    position: relative;
    bottom: -50px;
    margin-right: auto;
    margin-left: auto;
}

